@model RelatedPagesBlockViewModel

<div>
    @if (!Model.RelatedPages.Any())
    {
        <p>No Results Found</p>
    }
    @foreach (var item in Model.RelatedPages)
    {
        <div>
            <a href="@Url.ContentUrl(item.ContentLink)">@item.Name</a>
        </div>
    }
</div>