@model PageViewModel


<!DOCTYPE html>

<html>

<partial name="~/Views/Shared/_Head.cshtml" model="Model" />

<body>

    <partial name="~/Views/Shared/_NavBar.cshtml" />

    @RenderBody()

    <partial name="~/Views/Shared/_Footer.cshtml" />

    <partial name="~/Views/Shared/_Scripts.cshtml" />

</body>

</html>
